<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Asterix the Gaul Checklist</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<!--<a name="top" id="top"></a>-->
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<div id="wrap">
    <header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Asterix the Gaul Checklist</a>
					<div class="nav-collapse collapse">
						<ul id="filters" class="nav">
						<li class="active"><a href="#/">All</a></li>
						<li><a href="#/collected" class="">Collected <span class="badge numCollected">1</span></a></li>
						<li><a href="#/remaining" class="">Remaining <span class="badge numRemaining">1</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </header>
    <div id="content" class="container">
		<div id="details"></div>
		<div id="mask"></div>
        <div id="home" class="row">
            <div class="span12">
                <h1>Welcome to the Asterix the Gaul Checklist!</h1>
                <p>This is a small personal project using <a href="http://backbonejs.org/" target="_blank">backbone.js</a> and HTML5 Local Storage. Click the check mark to add the comic album to your collection. It will be saved to your localstorage so you can view it later when you open the site again in the same browser. You can find out more about <a href="http://en.wikipedia.org/wiki/Asterix" target="_blank">Asterix the Gual here</a>.</p>
				
				<!--[if lt IE 8]>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>FYI</h4>
					<p>This site uses HTML5 Local Storage and therefore requires IE9+ or any other modern browser to save to localstorage.</p>
				</div>
				<![endif]-->
            </div>
        </div>
        <div class="row">
            <ul id="albums" class="thumbnails"></ul>
        </div>
    </div>
    <div id="push"></div>
</div>
<footer id="footer">
    <div class="container">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-cbl" id="toTop"><i class="icon-chevron-up icon-white"></i></a>
        </div>
        <p>Designed and developed by <a href="http://www.in23h.com" rel="tooltip" title="in23h designs" target="_blank">in23h designs</a> using  <a href="http://backbonejs.org/" target="_blank">backbone.js</a>, <a href="http://twitter.github.com/bootstrap/" rel="tooltip" title="Bootstrap" target="_blank">Bootstrap</a> and <a href="http://html5boilerplate.com/" rel="tooltip" title="HTML5 Boilerplate" target="_blank">HTML5 Boilerplate</a></p>
    </div>
</footer>

<script type="text/template" id="album-template">
    <div class="thumbnail">
        <div class="thumbHeader">
            <div class="pull-left"><a href="#albums/<%- volume %>"><i class="icon-search icon-large"></i></a></div>
            <div class="pull-right"><a href="#" class="collectionAdd"><i class="icon-check icon-large"></i></a></div>
        </div>
        <div class="thumbImage"><img title="<%- title %>" src="<%- image %>" alt="<%- title %>"></div>
        <div class="thumbFooter">
            <p>Vol. <%- volume %> | <span class="title"><%- title %></span></p>
        </div>
    </div>
</script>
<script type="text/template" id="albumDetails-template">
	<div class="detailImage"><img title="<%- title %>" src="<%- image %>" alt="<%- title %>"></div>
	<div class="detailContent">
		<div class="pull-right"><a href="#" class="close"><i class="icon-remove icon-2x"></i></a></div>
		<h2><%- title %></h2>
		<h3>Volume <%- volume %></h3>
		<p><%- description %></p>
	</div>
</script>

<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/app.js"></script>
</body>
</html>